.header-books-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  background-color: #F3F4F6;
  color: #1F2937;
}

.header-books-page h1 {
  font-size: 28px;
  color: #1f2937;
}

.header-books-page button {
  padding: 10px 16px;
  background: #4f46e5;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s ease;
}

.header-books-page button:hover {
  background: #4338ca;
}
